# Data Wrangling Exercises

In [1]:
# import

import pandas as pd
import numpy as np
import os

from env import get_db_url

#stops truncating of columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## WRANGLE

### 1. Acquire data from the cloud database.

### You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

### Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [87]:
def get_zillow_data():
    
    filename = 'zillow.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    else:
    
        url = get_db_url('zillow')
    
        sql = '''SELECT *
        FROM properties_2017
        FULL JOIN predictions_2017 USING (parcelid)
        LEFT JOIN airconditioningtype USING (airconditioningtypeid)
        LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
        LEFT JOIN buildingclasstype USING (buildingclasstypeid)
        LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
        LEFT JOIN propertylandusetype USING (propertylandusetypeid)
        LEFT JOIN storytype USING (storytypeid)
        LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
        WHERE propertylandusetypeid = 261  AND transactiondate like '2017%%';
        '''
    
        df = pd.read_sql(sql, url)
        
        df.to_csv(filename, index=False)
    
        return df

In [3]:
df = get_zillow_data()

In [4]:
df.duplicated('parcelid').sum()

121

In [5]:
df = df.sort_values(by='transactiondate').drop_duplicates(subset='parcelid', keep='last')

In [6]:
df.duplicated('parcelid').sum()

0

In [14]:
df = df.drop(columns='id.1')

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [105]:
def get_summary(df):
    
    print('\n\n----------------------------------------\n\n')
    print('df.shape')
    print(df.shape)
    print('\n\n----------------------------------------\n\n')
    print('df.info()')
    print(df.info())
    print('\n\n----------------------------------------\n\n')
    print('df.describe()')
    print(df.describe())
    print('\n\n----------------------------------------\n\n')
    print('df.dtypes')
    print(df.dtypes)
    print('\n\n----------------------------------------\n\n')
    print('df.value_counts()')
    print(df.value_counts())

In [106]:
get_summary(df)

----------------------------------------


df.shape
(52318, 34)


----------------------------------------


df.info()
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52318 entries, 0 to 52440
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52318 non-null  float64
 1   heatingorsystemtypeid         33850 non-null  float64
 2   parcelid                      52318 non-null  int64
 3   id                            52318 non-null  int64
 4   bathroomcnt                   52318 non-null  float64
 5   bedroomcnt                    52318 non-null  float64
 6   buildingqualitytypeid         33655 non-null  float64
 7   calculatedbathnbr             52185 non-null  float64
 8   calculatedfinishedsquarefeet  52239 non-null  float64
 9   finishedsquarefeet12          52074 non-null  float64
 10  fips                          52318 non-null  float64
 11  fullbathcnt                   52185 non-null  float64
 12  latitude                      52318 non-null  float64
 13  longitude                     52318 non-null  float64
 14  lotsizesquarefeet             51954 non-null  float64
 15  propertycountylandusecode     52318 non-null  object
 16  propertyzoningdesc            33760 non-null  object
 17  rawcensustractandblock        52318 non-null  float64
 18  regionidcity                  51284 non-null  float64
 19  regionidcounty                52318 non-null  float64
 20  regionidzip                   52294 non-null  float64
 21  roomcnt                       52318 non-null  float64
 22  unitcnt                       33762 non-null  float64
 23  yearbuilt                     52206 non-null  float64
 24  structuretaxvaluedollarcnt    52238 non-null  float64
 25  taxvaluedollarcnt             52317 non-null  float64
 26  assessmentyear                52318 non-null  float64
 27  landtaxvaluedollarcnt         52317 non-null  float64
 28  taxamount                     52314 non-null  float64
 29  censustractandblock           52199 non-null  float64
 30  logerror                      52318 non-null  float64
 31  transactiondate               52318 non-null  object
 32  heatingorsystemdesc           33850 non-null  object
 33  propertylandusedesc           52318 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 14.0+ MB
None


----------------------------------------


df.describe()
       propertylandusetypeid  heatingorsystemtypeid      parcelid  \
count                52318.0           33850.000000  5.231800e+04
mean                   261.0               3.965613  1.299091e+07
std                      0.0               2.562660  3.211585e+06
min                    261.0               1.000000  1.071186e+07
25%                    261.0               2.000000  1.151015e+07
50%                    261.0               2.000000  1.257825e+07
75%                    261.0               7.000000  1.413023e+07
max                    261.0              24.000000  1.676392e+08

                 id   bathroomcnt    bedroomcnt  buildingqualitytypeid  \
count  5.231800e+04  52318.000000  52318.000000           33655.000000
mean   1.496922e+06      2.300097      3.300891               6.264894
std    8.594435e+05      1.022727      0.947353               1.716346
min    3.490000e+02      0.000000      0.000000               1.000000
25%    7.575485e+05      2.000000      3.000000               5.000000
50%    1.500184e+06      2.000000      3.000000               6.000000
75%    2.241385e+06      3.000000      4.000000               8.000000
max    2.982270e+06     18.000000     14.000000              12.000000

       calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12  \
count       52185.000000                  52239.000000          52074.000000
mean            2.305270                   1923.152702           1925.313899
std             1.018067                   1004.045419           1003.952951
min             1.000000                    128.000000            128.000000
25%             2.000000                   1268.000000           1270.000000
50%             2.000000                   1659.000000           1661.000000
75%             3.000000                   2306.000000           2309.000000
max            18.000000                  21929.000000          21929.000000

               fips   fullbathcnt      latitude     longitude  \
count  52318.000000  52185.000000  5.231800e+04  5.231800e+04
mean    6049.136014      2.240031  3.402255e+07 -1.181941e+08
std       21.029399      0.993303  2.740619e+05  3.567168e+05
min     6037.000000      1.000000  3.334062e+07 -1.194754e+08
25%     6037.000000      2.000000  3.382689e+07 -1.184008e+08
50%     6037.000000      2.000000  3.402374e+07 -1.181530e+08
75%     6059.000000      3.000000  3.418725e+07 -1.179290e+08
max     6111.000000     18.000000  3.481877e+07 -1.175546e+08

       lotsizesquarefeet  rawcensustractandblock   regionidcity  \
count       5.195400e+04            5.231800e+04   51284.000000
mean        1.132335e+04            6.049447e+07   33483.826691
std         8.674164e+04            2.086919e+05   49116.149883
min         2.360000e+02            6.037101e+07    3491.000000
25%         5.583000e+03            6.037401e+07   12447.000000
50%         6.841000e+03            6.037620e+07   24812.000000
75%         8.799000e+03            6.059042e+07   40227.000000
max         6.971010e+06            6.111009e+07  396556.000000

       regionidcounty    regionidzip       roomcnt       unitcnt  \
count    52318.000000   52294.000000  52318.000000  33762.000000
mean      2524.298578   96636.243603      1.894530      1.000859
std        804.106044    4610.382493      3.146991      0.030290
min       1286.000000   95982.000000      0.000000      1.000000
25%       1286.000000   96206.000000      0.000000      1.000000
50%       3101.000000   96412.000000      0.000000      1.000000
75%       3101.000000   96995.000000      5.000000      1.000000
max       3101.000000  399675.000000     15.000000      3.000000

          yearbuilt  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count  52206.000000                5.223800e+04       5.231700e+04
mean    1963.421254                1.966362e+05       5.298080e+05
std       23.125670                2.542862e+05       7.518188e+05
min     1878.000000                1.290000e+02       1.000000e+03
25%     1950.000000                7.715900e+04       1.940580e+05
50%     1961.000000                1.319050e+05       3.740060e+05
75%     1979.000000                2.264532e+05       6.193460e+05
max     2016.000000                9.164901e+06       4.906124e+07

       assessmentyear  landtaxvaluedollarcnt      taxamount  \
count         52318.0           5.231700e+04   52314.000000
mean           2016.0           3.334688e+05    6454.549597
std               0.0           5.704818e+05    8752.346495
min            2016.0           1.610000e+02      49.180000
25%            2016.0           7.619400e+04    2661.015000
50%            2016.0           2.180790e+05    4650.565000
75%            2016.0           4.087720e+05    7379.205000
max            2016.0           4.895220e+07  586639.300000

       censustractandblock      logerror
count         5.219900e+04  52318.000000
mean          6.050245e+13      0.018133
std           1.861127e+12      0.176908
min           6.037101e+13     -4.655420
25%           6.037401e+13     -0.024703
50%           6.037620e+13      0.006934
75%           6.059042e+13      0.040600
max           4.830301e+14      5.262999


----------------------------------------


df.dtypes
propertylandusetypeid           float64
heatingorsystemtypeid           float64
parcelid                          int64
id                                int64
bathroomcnt                     float64
bedroomcnt                      float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
fips                            float64
fullbathcnt                     float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
propertycountylandusecode        object
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidzip                     float64
roomcnt                         float64
unitcnt                         float64
yearbuilt                       float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
censustractandblock             float64
logerror                        float64
transactiondate                  object
heatingorsystemdesc              object
propertylandusedesc              object
dtype: object


----------------------------------------


df.value_counts()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
# how many rows and columns
df.shape

(52320, 68)

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,52320.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
heatingorsystemtypeid,33850.0,3.965613e+00,2.562660e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
airconditioningtypeid,13615.0,2.439589e+00,3.847925e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
parcelid,52320.0,1.299682e+07,3.350919e+06,1.071186e+07,1.151018e+07,1.257829e+07,1.413036e+07,1.676878e+08
id,52320.0,1.496906e+06,8.594330e+05,3.490000e+02,7.576135e+05,1.500134e+06,2.241333e+06,2.982270e+06
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52320.0,2.300010e+00,1.022807e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52320.0,3.300765e+00,9.475551e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingqualitytypeid,33655.0,6.264894e+00,1.716346e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52185.0,2.305270e+00,1.018067e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,389.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4371.0,1.546288e+03,6.753393e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.760000e+03,6.912000e+03
calculatedfinishedsquarefeet,52239.0,1.923153e+03,1.004045e+03,1.280000e+02,1.268000e+03,1.659000e+03,2.306000e+03,2.192900e+04
finishedsquarefeet12,52074.0,1.925314e+03,1.003953e+03,1.280000e+02,1.270000e+03,1.661000e+03,2.309000e+03,2.192900e+04
finishedsquarefeet13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,4371.0,1.567099e+03,7.450848e+02,1.840000e+02,1.152000e+03,1.415000e+03,1.771000e+03,1.246700e+04
finishedsquarefeet6,165.0,1.241079e+03,7.769591e+02,3.800000e+02,7.840000e+02,1.008000e+03,1.320000e+03,5.598000e+03
fips,52320.0,6.049136e+03,2.102913e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7233.0,1.209733e+00,5.129456e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52185.0,2.240031e+00,9.933029e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,17984.0,1.949066e+00,5.499741e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,17984.0,4.959270e+02,1.571009e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1514.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,52320.0,3.402256e+07,2.740624e+05,3.334062e+07,3.382690e+07,3.402375e+07,3.418725e+07,3.481877e+07
longitude,52320.0,-1.181941e+08,3.567149e+05,-1.194754e+08,-1.184009e+08,-1.181531e+08,-1.179290e+08,-1.175546e+08
lotsizesquarefeet,51954.0,1.132335e+04,8.674164e+04,2.360000e+02,5.583000e+03,6.841000e+03,8.799000e+03,6.971010e+06
poolcnt,11077.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,865.0,5.183052e+02,1.566148e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,443.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,9990.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,52320.0,6.049447e+07,2.086892e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51284.0,3.348383e+04,4.911615e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52320.0,2.524321e+03,8.040986e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,18981.0,1.802406e+05,1.599288e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52294.0,9.663624e+04,4.610382e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52320.0,1.894457e+00,3.146952e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
threequarterbathnbr,6717.0,1.013697e+00,1.426896e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,33762.0,1.000859e+00,3.028996e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1935.0,3.373597e+02,2.495793e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52206.0,1.963421e+03,2.312567e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14532.0,1.414189e+00,5.406849e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52238.0,1.966362e+05,2.542862e+05,1.290000e+02,7.715900e+04,1.319050e+05,2.264532e+05,9.164901e+06
taxvaluedollarcnt,52319.0,5.298235e+05,7.518296e+05,1.000000e+03,1.940330e+05,3.740060e+05,6.193540e+05,4.906124e+07
assessmentyear,52320.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52319.0,3.334917e+05,5.705106e+05,1.610000e+02,7.619400e+04,2.180790e+05,4.087770e+05,4.895220e+07
taxamount,52316.0,6.454743e+03,8.752477e+03,4.918000e+01,2.660983e+03,4.650565e+03,7.379270e+03,5.866393e+05
taxdelinquencyyear,2068.0,1.410106e+01,2.400399e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,52199.0,6.050245e+13,1.861127e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
logerror,52320.0,1.813138e-02,1.769047e-01,-4.655420e+00,-2.470687e-02,6.934429e-03,4.059704e-02,5.262999e+00
buildingclassdesc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.isnull().sum()

typeconstructiontypeid          52244
storytypeid                     52273
propertylandusetypeid               0
heatingorsystemtypeid           18470
buildingclasstypeid             52320
architecturalstyletypeid        52250
airconditioningtypeid           38705
parcelid                            0
id                                  0
basementsqft                    52273
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18665
calculatedbathnbr                 135
decktypeid                      51931
finishedfloor1squarefeet        47949
calculatedfinishedsquarefeet       81
finishedsquarefeet12              246
finishedsquarefeet13            52320
finishedsquarefeet15            52320
finishedsquarefeet50            47949
finishedsquarefeet6             52155
fips                                0
fireplacecnt                    45087
fullbathcnt                       135
garagecarcnt                    34336
garagetotalsqft                 34336
hashottuborspa                  50806
latitude                            0
longitude                           0
lotsizesquarefeet                 366
poolcnt                         41243
poolsizesum                     51455
pooltypeid10                    51877
pooltypeid2                     51249
pooltypeid7                     42330
propertycountylandusecode           0
propertyzoningdesc              18558
rawcensustractandblock              0
regionidcity                     1036
regionidcounty                      0
regionidneighborhood            33339
regionidzip                        26
roomcnt                             0
threequarterbathnbr             45603
unitcnt                         18558
yardbuildingsqft17              50385
yardbuildingsqft26              52257
yearbuilt                         114
numberofstories                 37788
fireplaceflag                   52239
structuretaxvaluedollarcnt         82
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50252
taxdelinquencyyear              50252
censustractandblock               121
logerror                            0
transactiondate                     0
airconditioningdesc             38705
architecturalstyledesc          52250
buildingclassdesc               52320
heatingorsystemdesc             18470
propertylandusedesc                 0
storydesc                       52273
typeconstructiondesc            52244
dtype: int64

In [18]:
df.latitude.isnull().sum()

0

In [19]:
df.longitude.isnull().sum()

0

In [20]:
df.dtypes

typeconstructiontypeid          float64
storytypeid                     float64
propertylandusetypeid           float64
heatingorsystemtypeid           float64
buildingclasstypeid             float64
architecturalstyletypeid        float64
airconditioningtypeid           float64
parcelid                          int64
id                                int64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode        object
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
threequarterbathnbr             float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
logerror                        float64
transactiondate                  object
airconditioningdesc              object
architecturalstyledesc           object
buildingclassdesc               float64
heatingorsystemdesc              object
propertylandusedesc              object
storydesc                        object
typeconstructiondesc             object
dtype: object

## 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [62]:
def null_info(df):
    '''This function returns a table with the number of nulls in each column
        and the percent of the data it comprises.'''
    
    nulls_table = pd.DataFrame(columns=['feature', 'num_rows_missing', 'percent_rows_missing'])
    
    for col in df.columns
        
        num_rows_missing = pd.DataFrame({'feature': [col],'num_rows_missing': [df[col].isnull().sum()], 'percent_rows_missing': [round((df[col].isnull().sum() / df.shape[0]) * 100, 2)]})
        nulls_table = pd.concat([nulls_table, num_rows_missing] , ignore_index=True)

    
    return nulls_table

In [58]:
num_rows_missing = df.isnull().sum()

num_rows_percent = round((num_rows_missing / df.shape[0]) * 100, 2)

In [59]:
num_rows_percent

typeconstructiontypeid           99.85
storytypeid                      99.91
propertylandusetypeid             0.00
heatingorsystemtypeid            35.30
buildingclasstypeid             100.00
architecturalstyletypeid         99.87
airconditioningtypeid            73.98
parcelid                          0.00
id                                0.00
basementsqft                     99.91
bathroomcnt                       0.00
bedroomcnt                        0.00
buildingqualitytypeid            35.67
calculatedbathnbr                 0.26
decktypeid                       99.26
finishedfloor1squarefeet         91.65
calculatedfinishedsquarefeet      0.15
finishedsquarefeet12              0.47
finishedsquarefeet13            100.00
finishedsquarefeet15            100.00
finishedsquarefeet50             91.65
finishedsquarefeet6              99.68
fips                              0.00
fireplacecnt                     86.18
fullbathcnt                       0.26
garagecarcnt                     65.63
garagetotalsqft                  65.63
hashottuborspa                   97.11
latitude                          0.00
longitude                         0.00
lotsizesquarefeet                 0.70
poolcnt                          78.83
poolsizesum                      98.35
pooltypeid10                     99.15
pooltypeid2                      97.95
pooltypeid7                      80.91
propertycountylandusecode         0.00
propertyzoningdesc               35.47
rawcensustractandblock            0.00
regionidcity                      1.98
regionidcounty                    0.00
regionidneighborhood             63.72
regionidzip                       0.05
roomcnt                           0.00
threequarterbathnbr              87.16
unitcnt                          35.47
yardbuildingsqft17               96.30
yardbuildingsqft26               99.88
yearbuilt                         0.22
numberofstories                  72.22
fireplaceflag                    99.85
structuretaxvaluedollarcnt        0.16
taxvaluedollarcnt                 0.00
assessmentyear                    0.00
landtaxvaluedollarcnt             0.00
taxamount                         0.01
taxdelinquencyflag               96.05
taxdelinquencyyear               96.05
censustractandblock               0.23
logerror                          0.00
transactiondate                   0.00
airconditioningdesc              73.98
architecturalstyledesc           99.87
buildingclassdesc               100.00
heatingorsystemdesc              35.30
propertylandusedesc               0.00
storydesc                        99.91
typeconstructiondesc             99.85
dtype: float64

In [63]:
null_info(df)

                         feature num_rows_missing  percent_rows_missing
0         typeconstructiontypeid            52244                 99.85
1                    storytypeid            52273                 99.91
2          propertylandusetypeid                0                  0.00
3          heatingorsystemtypeid            18470                 35.30
4            buildingclasstypeid            52320                100.00
5       architecturalstyletypeid            52250                 99.87
6          airconditioningtypeid            38705                 73.98
7                       parcelid                0                  0.00
8                             id                0                  0.00
9                   basementsqft            52273                 99.91
10                   bathroomcnt                0                  0.00
11                    bedroomcnt                0                  0.00
12         buildingqualitytypeid            18665                 35.67
13             calculatedbathnbr              135                  0.26
14                    decktypeid            51931                 99.26
15      finishedfloor1squarefeet            47949                 91.65
16  calculatedfinishedsquarefeet               81                  0.15
17          finishedsquarefeet12              246                  0.47
18          finishedsquarefeet13            52320                100.00
19          finishedsquarefeet15            52320                100.00
20          finishedsquarefeet50            47949                 91.65
21           finishedsquarefeet6            52155                 99.68
22                          fips                0                  0.00
23                  fireplacecnt            45087                 86.18
24                   fullbathcnt              135                  0.26
25                  garagecarcnt            34336                 65.63
26               garagetotalsqft            34336                 65.63
27                hashottuborspa            50806                 97.11
28                      latitude                0                  0.00
29                     longitude                0                  0.00
30             lotsizesquarefeet              366                  0.70
31                       poolcnt            41243                 78.83
32                   poolsizesum            51455                 98.35
33                  pooltypeid10            51877                 99.15
34                   pooltypeid2            51249                 97.95
35                   pooltypeid7            42330                 80.91
36     propertycountylandusecode                0                  0.00
37            propertyzoningdesc            18558                 35.47
38        rawcensustractandblock                0                  0.00
39                  regionidcity             1036                  1.98
40                regionidcounty                0                  0.00
41          regionidneighborhood            33339                 63.72
42                   regionidzip               26                  0.05
43                       roomcnt                0                  0.00
44           threequarterbathnbr            45603                 87.16
45                       unitcnt            18558                 35.47
46            yardbuildingsqft17            50385                 96.30
47            yardbuildingsqft26            52257                 99.88
48                     yearbuilt              114                  0.22
49               numberofstories            37788                 72.22
50                 fireplaceflag            52239                 99.85
51    structuretaxvaluedollarcnt               82                  0.16
52             taxvaluedollarcnt                1                  0.00
53                assessmentyear                0                  0.00
54         landtaxvaluedollarcnt                1                  0.00
55                     taxamount                4                  0.01
56            taxdelinquencyflag            50252                 96.05
57            taxdelinquencyyear            50252                 96.05
58           censustractandblock              121                  0.23
59                      logerror                0                  0.00
60               transactiondate                0                  0.00
61           airconditioningdesc            38705                 73.98
62        architecturalstyledesc            52250                 99.87
63             buildingclassdesc            52320                100.00
64           heatingorsystemdesc            18470                 35.30
65           propertylandusedesc                0                  0.00
66                     storydesc            52273                 99.91
67          typeconstructiondesc            52244                 99.85

## PREPARE

### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

Single property types are filtered through the SQL query.

### 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:

    A dataframe
    
        A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
        
       
        A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
        
The output:

    The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in
    your function.
    
hint:

Look up the dropna documentation.

You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [81]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    '''This function takes in a dataframe, the desired threshold proportion, between 0 and 1, to drop null values from columns,
        and desired threshold proportion, between 0 and 1, to drop null values from rows. It drops the columns first
        and the rows next, and it returns the df.'''
    
    # computes proportion
    prop_required_column = prop_required_column * df.shape[0]
        
    prop_required_row = prop_required_row * df.shape[1]
    
    df = df.dropna(axis='columns', thresh=prop_required_column)
    
    df = df.dropna(thresh = prop_required_row)
    
    return df

In [77]:
df.shape

(52320, 68)

In [82]:
df = handle_missing_values(df, .6, .6)

In [83]:
df.shape

(52318, 34)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52318 entries, 0 to 52440
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         52318 non-null  float64
 1   heatingorsystemtypeid         33850 non-null  float64
 2   parcelid                      52318 non-null  int64
 3   id                            52318 non-null  int64
 4   bathroomcnt                   52318 non-null  float64
 5   bedroomcnt                    52318 non-null  float64
 6   buildingqualitytypeid         33655 non-null  float64
 7   calculatedbathnbr             52185 non-null  float64
 8   calculatedfinishedsquarefeet  52239 non-null  float64
 9   finishedsquarefeet12          52074 non-null  float64
 10  fips                          52318 non-null  float64
 11  fullbathcnt                   52185 non-null  float64
 12  latitude                      52318 non-null  float64
 13  longitude                     52318 non-null  float64
 14  lotsizesquarefeet             51954 non-null  float64
 15  propertycountylandusecode     52318 non-null  object
 16  propertyzoningdesc            33760 non-null  object
 17  rawcensustractandblock        52318 non-null  float64
 18  regionidcity                  51284 non-null  float64
 19  regionidcounty                52318 non-null  float64
 20  regionidzip                   52294 non-null  float64
 21  roomcnt                       52318 non-null  float64
 22  unitcnt                       33762 non-null  float64
 23  yearbuilt                     52206 non-null  float64
 24  structuretaxvaluedollarcnt    52238 non-null  float64
 25  taxvaluedollarcnt             52317 non-null  float64
 26  assessmentyear                52318 non-null  float64
 27  landtaxvaluedollarcnt         52317 non-null  float64
 28  taxamount                     52314 non-null  float64
 29  censustractandblock           52199 non-null  float64
 30  logerror                      52318 non-null  float64
 31  transactiondate               52318 non-null  object
 32  heatingorsystemdesc           33850 non-null  object
 33  propertylandusedesc           52318 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 14.0+ MB

## Mall Customers

### 1. Acquire data from the customers table in the mall_customers database.

In [88]:
def get_mall_data():
    
    filename = 'mall_customers.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    else:
    
        url = get_db_url('mall_customers')
    
        sql = '''SELECT *
                 FROM customers'''
    
        df = pd.read_sql(sql, url)
        
        df.to_csv(filename, index=False)
    
        return df

In [89]:
mall_df = get_mall_data()

### 2. Summarize the data (include distributions and descriptive statistics).

In [107]:
get_summary(mall_df)

----------------------------------------


df.shape
(200, 5)


----------------------------------------


df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None


----------------------------------------


df.describe()
       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000


----------------------------------------


df.dtypes
customer_id        int64
gender            object
age                int64
annual_income      int64
spending_score     int64
dtype: object


----------------------------------------


df.value_counts()
customer_id  gender  age  annual_income  spending_score
1            Male    19   15             39                1
138          Male    32   73             73                1
128          Male    40   71             95                1
129          Male    59   71             11                1
130          Male    38   71             75                1
131          Male    47   71             9                 1
132          Male    39   71             75                1
133          Female  25   72             34                1
134          Female  31   72             71                1
135          Male    20   73             5                 1
136          Female  29   73             88                1
137          Female  44   73             7                 1
139          Male    19   74             10                1
2            Male    21   15             81                1
140          Female  35   74             72                1
141          Female  57   75             5                 1
142          Male    32   75             93                1
143          Female  28   76             40                1
144          Female  32   76             87                1
145          Male    25   77             12                1
146          Male    28   77             97                1
147          Male    48   77             36                1
148          Female  32   77             74                1
149          Female  34   78             22                1
127          Male    43   71             35                1
126          Female  31   70             77                1
125          Female  23   70             29                1
124          Male    39   69             91                1
103          Male    67   62             59                1
104          Male    26   62             55                1
105          Male    49   62             56                1
106          Female  21   62             42                1
107          Female  66   63             50                1
108          Male    54   63             46                1
109          Male    68   63             43                1
110          Male    66   63             48                1
111          Male    65   63             52                1
112          Female  19   63             54                1
113          Female  38   64             42                1
114          Male    19   64             46                1
115          Female  18   65             48                1
116          Female  19   65             50                1
117          Female  63   65             43                1
118          Female  49   65             59                1
119          Female  51   67             43                1
120          Female  50   67             57                1
121          Male    27   67             56                1
122          Female  38   67             40                1
123          Female  40   69             58                1
150          Male    34   78             90                1
151          Male    43   78             17                1
152          Male    39   78             88                1
177          Male    58   88             15                1
179          Male    59   93             14                1
180          Male    35   93             90                1
181          Female  37   97             32                1
182          Female  32   97             86                1
183          Male    46   98             15                1
184          Female  29   98             88                1
185          Female  41   99             39                1
186          Male    30   99             97                1
187          Female  54   101            24                1
188          Male    28   101            68                1
189          Female  41   103            17                1
190          Female  36   103            85                1
191          Female  34   103            23                1
192          Female  32   103            69                1
193          Male    33   113            8                 1
194          Female  38   113            91                1
195          Female  47   120            16                1
196          Female  35   120            79                1
197          Female  45   126            28                1
198          Male    32   126            74                1
199          Male    32   137            18                1
178          Male    27   88             69                1
176          Female  30   88             86                1
153          Female  44   78             20                1
175          Female  52   88             13                1
154          Female  38   78             76                1
155          Female  47   78             16                1
156          Female  27   78             89                1
157          Male    37   78             1                 1
158          Female  30   78             78                1
159          Male    34   78             1                 1
160          Female  30   78             73                1
161          Female  56   79             35                1
162          Female  29   79             83                1
163          Male    19   81             5                 1
164          Female  31   81             93                1
165          Male    50   85             26                1
166          Female  36   85             75                1
167          Male    42   86             20                1
168          Female  33   86             95                1
169          Female  36   87             27                1
170          Male    32   87             63                1
171          Male    40   87             13                1
172          Male    28   87             75                1
173          Male    36   87             10                1
174          Male    36   87             92                1
102          Female  49   62             48                1
101          Female  23   62             41                1
100          Male    20   61             49                1
26           Male    29   28             82                1
28           Male    35   28             61                1
29           Female  40   29             31                1
30           Female  23   29             87                1
31           Male    60   30             4                 1
32           Female  21   30             73                1
33           Male    53   33             4                 1
34           Male    18   33             92                1
35           Female  49   33             14                1
36           Female  21   33             81                1
37           Female  42   34             17                1
38           Female  30   34             73                1
39           Female  36   37             26                1
40           Female  20   37             75                1
41           Female  65   38             35                1
42           Male    24   38             92                1
43           Male    48   39             36                1
44           Female  31   39             61                1
45           Female  49   39             28                1
46           Female  24   39             65                1
47           Female  50   40             55                1
48           Female  27   40             47                1
27           Female  45   28             32                1
25           Female  54   28             14                1
50           Female  31   40             42                1
24           Male    31   25             73                1
3            Female  20   16             6                 1
4            Female  23   16             77                1
5            Female  31   17             40                1
6            Female  22   17             76                1
7            Female  35   18             6                 1
8            Female  23   18             94                1
9            Male    64   19             3                 1
10           Female  30   19             72                1
11           Male    67   19             14                1
12           Female  35   19             99                1
13           Female  58   20             15                1
14           Female  24   20             77                1
15           Male    37   20             13                1
16           Male    22   20             79                1
17           Female  35   21             35                1
18           Male    20   21             66                1
19           Male    52   23             29                1
20           Female  35   23             98                1
21           Male    35   24             35                1
22           Male    25   24             73                1
23           Female  46   25             5                 1
49           Female  29   40             42                1
51           Female  49   42             52                1
99           Male    48   61             42                1
76           Male    26   54             54                1
78           Male    40   54             48                1
79           Female  23   54             52                1
80           Female  49   54             42                1
81           Male    57   54             51                1
82           Male    38   54             55                1
83           Male    67   54             41                1
84           Female  46   54             44                1
85           Female  21   54             57                1
86           Male    48   54             46                1
87           Female  55   57             58                1
88           Female  22   57             55                1
89           Female  34   58             60                1
90           Female  50   58             46                1
91           Female  68   59             55                1
92           Male    18   59             41                1
93           Male    48   60             49                1
94           Female  40   60             40                1
95           Female  32   60             42                1
96           Male    24   60             52                1
97           Female  47   60             47                1
98           Female  27   60             50                1
77           Female  45   54             53                1
75           Male    59   54             47                1
52           Male    33   42             60                1
74           Female  60   50             56                1
53           Female  31   43             54                1
54           Male    59   43             60                1
55           Female  50   43             45                1
56           Male    47   43             41                1
57           Female  51   44             50                1
58           Male    69   44             46                1
59           Female  27   46             51                1
60           Male    53   46             46                1
61           Male    70   46             56                1
62           Male    19   46             55                1
63           Female  67   47             52                1
64           Female  54   47             59                1
65           Male    63   48             51                1
66           Male    18   48             59                1
67           Female  43   48             50                1
68           Female  68   48             48                1
69           Male    19   48             59                1
70           Female  32   48             47                1
71           Male    70   49             55                1
72           Female  47   49             42                1
73           Female  60   50             49                1
200          Male    30   137            83                1
dtype: int64

### 3. Detect outliers using IQR.

In [ ]:
    #calculate iqr for removing outliers
    q3_bath, q1_bath = np.percentile(df.bathcount, [75, 25])
    iqr_bath = q3_bath - q1_bath

    q3_bed, q1_bed = np.percentile(df.bedcount, [75, 25])
    iqr_bed = q3_bed - q1_bed

    q3_sqft, q1_sqft = np.percentile(df.sqfeet, [75, 25])
    iqr_sqft = q3_sqft - q1_sqft

    q3_val, q1_val = np.percentile(df.value, [75, 25])
    iqr_val = q3_val - q1_val

    #remove the outliers
    # The 1.5 multiplied by the iqr is a standard deviation of 1.5. For a poisson distribution, standard dev
    # equals the square root of the mean.
    df = df[~((df['bathcount']<(q1_bath-1.5*iqr_bath)) | (df['bathcount']>(q3_bath+1.5*iqr_bath)))]

    df = df[~((df['bedcount']<(q1_bed-1.5*iqr_bed)) | (df['bedcount']>(q3_bed+1.5*iqr_bed)))]  

    df = df[~((df['sqfeet']<(q1_sqft-1.5*iqr_sqft)) | (df['sqfeet']>(q3_sqft+1.5*iqr_sqft)))]

    df = df[~((df['value']<(q1_val-1.5*iqr_val)) | (df['value']>(q3_val+1.5*iqr_val)))]

### 4. Split data into train, validate, and test.

In [ ]:
def split_data(df):
    '''This function splits the clean data with no stratification'''
    #train/validate/test split
    
    train_validate, test = train_test_split(df, test_size = .2, random_state=311)

    train, validate = train_test_split(train_validate, test_size = .25, random_state=311)

    return train, validate, test

### 5. Encode categorical columns using a one hot encoder (pd.get_dummies).

### 6. Handles missing values.

### 7. Scaling

In [ ]:
def scaled_data(train, validate, test):
    '''This function takes in the train, validate, and test dataframes and returns the scaled data as dataframes.'''
    
    scaler = sklearn.preprocessing.MinMaxScaler()

    scaler.fit(train)

    train_scaled = pd.DataFrame(scaler.transform(train))
    validate_scaled = pd.DataFrame(scaler.transform(validate))
    test_scaled = pd.DataFrame(scaler.transform(test))
    
    return train_scaled, validate_scaled, test_scaled